.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.button-group .primary {
  width: 27%;
}

.button-group .secondary {
  width: 20%;
  margin-left: 1em;
}

#users-tbody > tr > td > a {
  margin-left: 0.5em;
}

.active {
  font-weight: 800;
}

nav li ~ a.active {
  border-bottom: 1px solid white;
}
